@charset "UTF-8";

body{
    background-color: #5f9ea0a2;
    font: normal 16px arial, helvetica, sans-serif
}

h1{
    color: brown;
}

h1#principal{
    background-color: brown;
    color: white;
    text-align: center;
}

h2{
    color: brown;
}

p{
    text-align: justify;
    text-indent: 30px;
}

.primeiro{
    color: #008000;
}

.segundo{
    color: #ffff00;
}

.terceiro {
    color: #ff0000;
}

.titulos{
    text-align: center;
    color: #ffffff;
    background-color: brown;
}