@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    font-family: 'Passion One', sans-serif;
    color: white;
    text-align: center;
    height: 150px;
}

header>h1 {
    padding-top: 30px;
    font-size: 3em;
}

header>p{
    font-family: Arial, Helvetica, sans-serif;

}

header>p>a{
    color: white;
}

main{
    max-width: 400px;
    margin: auto;
    border: 1px solid black;
    border-top: none;
}

.artigosbranco{
    font-family: 'Sriracha', sans-serif;
    font-size: 1.1em;
    background-size: 100% 100%;
    padding-top: 70px;
    padding-bottom: 70px;
   
}

.artigosopaco{
    font-family: 'Sriracha', sans-serif;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.349);
    background-size: 100% 100%;
    color: white;
    position: absolute;
    top: 11.5%;
    
}

article{
    padding: 10px;
}


section#section2{
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    height: 500px;
    box-shadow:  0px -2px 4px 0px black;
}
section#section4{
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    height: 500px;
    box-shadow:  0px -0.5px 4px 0px black;
}
